<p id="notice"><%= notice %></p>
<h3>Area do Instrutor </h3>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Nivel dificuldade</th>
      <th>Duracao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.titulo %></td>
        <td><%= curso.descricao %></td>
        <td>
            <% if curso.nivel_dificuldade == 1 %>
                Fácil
            <% elsif curso.nivel_dificuldade == 2 %>
                Intermediário
            <% elsif curso.nivel_dificuldade == 3 %>
                Dificíl
            <% end %>

        </td>
        <td><%= curso.duracao %></td>
        <td><%= curso.preco %></td>
        <td><%= link_to 'Show', curso %></td>
        <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
        <td><a href="/cursos/remover/<%= curso.id %>">Remover</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/cursos">Cursos</a>