<%= form_with(model: curso) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
        <% curso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :nivel_dificuldade %>
    <%= form.select :nivel_dificuldade, options_for_select({"Fácil" => 1, "Intermediário" => 2, "Dificíl" => 3 }), { include_blank: 'Selecione...' }, class: 'form-control' %>

  </div>

  <div class="field">
    <%= form.label :duracao %>
    <%= form.text_field :duracao %>
  </div>
  
  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <label>Area de Conhecimentos</label>
    <% @AreaConhecimento.each do |conhecimento| %>
      <%= check_box_tag 'conhecimentos[]', conhecimento.id, false, id: "category_#{conhecimento.id}" %>
      <span> <%= conhecimento.descricao %></span><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
