<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @curso.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @curso.descricao %>
</p>

<p>
  <strong>Nivel dificuldade:</strong>
  <% case @curso.nivel_dificuldade %>
  <% when 1 %>
    <%= "Fácil" %>
  <% when 2 %>
    <%= "Intermediário" %>
  <% when 3 %>
    <%= "Difícil" %>
  <% end %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @curso.duracao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @curso.preco %>
</p>

 <div class="field">
    <label>Area de Conhecimentos</label>
    <% @AreaConhecimento.each do |conhecimento| %>
      <%= check_box_tag 'conhecimentos[]', conhecimento.id, @arrayConhecimentos.find {|num| num == conhecimento.id }.nil? ? false : true, id: "category_#{conhecimento.id}", disabled: true %>
      <span> <%= conhecimento.descricao %></span><br>
    <% end %>
  </div>
<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
