<p id="notice">
    <%= notice %>
    <% if flash.now[:error] %>
        <%= flash.now[:error]%>
    <% end %>
</p>

<h1>AlunosDashboard#index</h1>
Cursos adquiridos
<table>
    <thead>
        <th>Descricao</th>
        <th>Detalhes</th>
    </thead>
    <tbody>
        <% if @curso_aluno.nil? %>
            <tr>
                <td> Nenhum Curso Adquirido </td>
            <tr>
        <% else %>
            <% @curso_aluno.each do |curso| %>
                <tr>
                    <td><%= descricao_curso(curso.id_curso) %></td>
                    <td>
                        <%= pagamento_curso(curso.id_pagamento) %> | 
                        <%= curso.curso_concluido ? "conluído" : "não concluído" %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    <tbody>
</table>

Loja de cursos
<table>
    <thead>
        <th>Descricao</th>
        <th>Valor</th>
        <th>Opcoes</th>
    </thead>
    <tbody>
        <% @cursos.each do |curso| %>
            <tr>
                <td><%= curso.descricao %></td>
                <td><%= curso.preco %></td>
                <td>
                    <% if curso_adicionado(curso.id) %>
                        <form action="/comprar_curso" method="POST">
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <input type="hidden" name="id_curso" value="<%= curso.id %>">
                            <input type="submit" value="Adicionar curso">
                        </form>
                    <% else %>
                        Curso já adquirido
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>