<%= form_with(model: curso_pagamento) do |form| %>
  <% if curso_pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso_pagamento.errors.count, "error") %> prohibited this curso_pagamento from being saved:</h2>

      <ul>
        <% curso_pagamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :cod_barras %>
    <%= form.text_field :cod_barras %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.number_field :valor %>
  </div>

  <div class="field">
    <%= form.label :aprovado %>
    <%= form.number_field :aprovado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
