<p id="notice"><%= notice %></p>

<h1>Curso Pagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Cod barras</th>
      <th>Valor</th>
      <th>Aprovado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curso_pagamentos.each do |curso_pagamento| %>
      <tr>
        <td><%= curso_pagamento.descricao %></td>
        <td><%= curso_pagamento.cod_barras %></td>
        <td><%= curso_pagamento.valor %></td>
        <td><%= curso_pago(curso_pagamento.aprovado) %></td>
        <td>
        <form action="/confirmar_pagamento" method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="curso" value="<%= curso_pagamento.id %>">
            <button> Confirmar Pagamento</button>
          </form>
        | 
        <%= link_to 'Show', curso_pagamento %> 
        | 
        <%= link_to 'Destroy', curso_pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
